/*Default styles */
body, h1, h2, p, button {
    margin: 0;
    padding: 0;
}

/* CSS for the page body */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #BCA37F;
    margin: 0;
}

/* Header styling */
header {
    background-color: #2e503d;
    color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Title and subtitle container */
.title-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Title styling */
h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: #fff;
    margin: 0;
    letter-spacing: 2px;
}

/* Subtitle styling */
h2 {
    font-size: 24px;
    color: #0c0000;
    margin: 0;
}

.sign-in-container {
    margin-left: auto;
}

/* CSS for the tabs */
.tab {
    display: none;
}

/* Style for the tab buttons */
.tab-button {
    background-color: #6a8174;
    border: none;
    color: #FFF;
    width: 300px; 
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    
}

.tab-button:hover {
    background-color: #b5cec2; 
    transform: scale(1.05);
}

/* CSS for the active tab */
.active-tab {
    display: block;
}

/* CSS for the "Sign In" button */
.sign-in-button {
    background-color: inherit;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 18px;
    border-radius: 5px;
}

/* Slightly lighter green on hover */
.sign-in-button:hover {
    background-color: inherit;
    transform: scale(1.05);
}

/* Content styling */
.content {
    padding: 20px;
    background-color: #FFF2D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
