<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swish Army Life</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="title-container">
          <h1>Swish Army Life</h1>
          <h2>Everything in One Place</h2>
        </div>
        <div class="my-profile-container">
            <button class="prof-tab-button" onclick="showTab(4)">Profile</button>
        </div>
        <div class="sign-in-container">
            <button class="sign-in-button" onclick="redirectToLogin()">Sign In / Sign Up</button>
        </div>

    </header>
      
    <!-- Tab buttons -->
    <button class="tab-button" onclick="showTab(1)">Home</button>
    <button class="tab-button" onclick="showTab(2)">Auto</button>
    <button class="tab-button" onclick="showTab(3)">Life</button>

    <!-- Tab content -->
    <div class="tab active-tab content">
        <h2>Tasks for Home</h2>
        <br>
        <form>
            <input type="checkbox" id="task1" name="task1" value="First">
            <label for="task1"> Do the laundry. </label><br>
            <input type="checkbox" id="task2" name="task2" value="Second">
            <label for="task2"> Take out the trash. </label><br>
            <br>

            <label for="fname">Add your Own:</label><br>
            <input type="text" id="fname" name="fname"><br>

          </form>
        <h3>Grocery Shopping</h3>
        <form>
            <label for="mon">Enter in your budget:</label><br>
            <input type="text" id="mon" name="mon"><br>
            
            <input type="checkbox" id="t1" name="t1" value="Firs">
            <label for="t1"> 2  cans of Beans. </label><br>
            <input type="checkbox" id="t2" name="t2" value="Secon">
            <label for="t2"> 24ct Chocolate Chip Cookies. </label><br>
            <br>

            <label for="fname11">Add an item:</label><br>
            <input type="text" id="fname11" name="fname11"><br>
            <br>

          </form>

          <h3>Your Pets</h3>
          <p>You currently have no pets.</p>
          <br>
          <form>
            <label for="fname1_1">Add a pet:</label><br>
            <input type="text" id="fname1_1" name="fname1_1"><br>
            <br>
          </form>

          <h3>Plant Nursery</h3>
          <p>Your daisies need to be watered: today.</p>
          <br>
          <p> Your carrots need to be watered: in 3 days.</p>
          <br>
          <p> Your cactus needs to be watered: in 1 week</p>
          <br>
          <form>
            <label for="fname1">Add a Plant:</label><br>
            <input type="text" id="fname1" name="fname1"><br>
            <br>


            <p> Want possible recipes?</p>
            
            <input type="checkbox" id="t11" name="t11" value="Fir">
            <label for="t11"> Yes! </label><br>
            <input type="checkbox" id="t21" name="t21" value="Seco">
            <label for="t21"> No thanks. </label><br>

          <br>
          <h3>Insurance</h3>
          <form>
            <p> Do you have home insurance?</p>
            
            <input type="checkbox" id="t" name="t" value="Fi">
            <label for="t"> Yes! </label><br>
            <input type="checkbox" id="t3" name="t3" value="Sec">
            <label for="t3"> Unfortunately not. </label><br>
            <p>
                Let us connect you!
            </p>
          </form>
          <br>
          <p>House built in: 2002</p>
          <br>
          <p> Location: Dallas, TX</p>
          <br>
          <p>
            Estimated Cost: $349,000
          </p>
          <form> 
            <label for="fnamee">Add valuable Item:</label><br>
            <input type="text" id="fnamee" name="fnamee"><br>
            <br>
          </form>

    </div>
    <div class="tab content">
        <p>
            WARNING: Current Weather is Raining. Make sure to check your WIPERS and TIRES. Drive Cautiously. 
        </p>
        <br>
        <h2>Your Vehicle</h2>
        <h3>
            2014 Grey Toyota Camry SE
        </h3>

        <br>
        <p> Miles: 111,342
        </p>
        <br>
        <p> 
            Estimated Value: $11,500
        </p>
        <form>
            <label for="fname">Add a car:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <br>
            <h3>
                Tasks for Auto
            </h3>


            <input type="checkbox" id="task1" name="task1" value="First">
            <label for="task1"> Take out trash. </label><br>
            <input type="checkbox" id="task2" name="task2" value="Second">
            <label for="task2"> Vacuum seats. </label><br>
            <br>

            <label for="fname">Add another:</label><br>
            <input type="text" id="fname" name="fname"><br>

          </form>
        <h3>Safety</h3>
        <form>
            <label for="mon">Insurance: StateFarm </label><br>
            <input type="text" id="mon" name="mon"><br>
            <br>
            <input type="checkbox" id="t1" name="t1" value="Firs">
            <label for="t1"> Click here to see the symbols key for your car. </label><br>
            <input type="checkbox" id="t2" name="t2" value="Secon">
            <label for="t2"> Click here to search for specific car parts. </label><br>
            <input type="checkbox" id="t3" name="t3" value="Second">
            <label for="t3"> Click here to try and find a buyer for your car. </label><br>
            <br>


            <br>

          </form>

    </div>
    <div class="tab content">
        <h2>Your School: UT Arlington</h2>
        <br>
        <form>
            <h3> School Tasks</h3>
            <input type="checkbox" id="task1" name="task1" value="First">
            <label for="task1"> English Essay. </label><br>
            <input type="checkbox" id="task2" name="task2" value="Second">
            <label for="task2"> Math HW q1-10. </label><br>
            <input type="checkbox" id="task3" name = "task3" value="Third">
            <label for="task3"> Physics Quiz. </label><br>
            <input type="checkbox" id="task3" name = "task3" value="Third">
            <label for="task3"> Apply to scholarships. </label>
            <br><br>

            <label for="fname">Add task:</label><br>
            <input type="text" id="fname" name="fname"><br>

          </form>
          <br>
          <br>
        <h2> Your Career</h2>
        <h3>Current Employer: Pharmacy Technician</h3>
        <h3>Current Position: CVS Pharmacy</h3>
        <h3>Current Pay: $16.25/hr</h3>
        <h3>Current Hours: 20hrs/week</h3>
        <form>
            
            <h2>
                Career Goals
            </h2>
            <br>
            <input type="checkbox" id="t1" name="t1" value="Firs">
            <label for="t1"> Promotion to lead technician. </label><br>
            <input type="checkbox" id="t2" name="t2" value="Secon">
            <label for="t2"> Get a raise. </label><br>
            <br>

            <label for="fname11">Add a goal:</label><br>
            <input type="text" id="fname11" name="fname11"><br>
            <br>

          </form>

          <h3>Passion Projects</h3>
          <br>
          <form>
            <label for="file1">Upload Here!</label><br>
            <input type="file" id="file1" name = file1><br>
            <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/245406476/original/777116de745853844d45f163996a2a531d8de914/do-a-very-bad-drawing.png" class="portfolio">
            <br><br>
          </form>
          <h2> Your Health</h2>
          <br>
          <h3> Medical Conditions: Asthma, Diabetes</h3>
          <h3> Allergies: none</h3>
          <h3> Current Medications: Metformin 500mg, FloVentil Inhaler</h3><br>
          <h2> Reminders</h2>
          <p> Last medical checkup: June 2, 2023</p><br>
          <h4> Schedule next appointment for June 2, 2024.</h4><br>
          <h4> Pick up medication from pharmacy. </h4><br>

    </div>
    <div class="tab content">
        <h3>Your Profile</h3>

        <img src="https://t3.ftcdn.net/jpg/00/65/82/48/360_F_65824883_RcQ5YyIV23djJiwfShBwTgXwR3JHfl3w.jpg" class="profile-picture">
        <p>This is the content for Profile.</p>
    </div>
    

    <script>
        //Switch between tabs
        function showTab(tabIndex) {
            var tabs = document.getElementsByClassName("tab");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("active-tab");
            }
            tabs[tabIndex - 1].classList.add("active-tab");
        }

        //Redirect to the /login route
        function redirectToLogin() {
            window.location.href = "/login"; 
        }
    </script>
</body>
</html>
