<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swish Army Life</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="title-container">
          <h1>Swish Army Life</h1>
          <h2>Everything in One Place</h2>
        </div>
        <div class="sign-in-container">
            <button class="sign-in-button" onclick="redirectToLogin()">Sign In / Sign Up</button>
        </div>
    </header>
      
    <!-- Tab buttons -->
    <button class="tab-button" onclick="showTab(1)">Home</button>
    <button class="tab-button" onclick="showTab(2)">Auto</button>
    <button class="tab-button" onclick="showTab(3)">Life</button>

    <!-- Tab content -->
    <div class="tab active-tab content">
        <h3>Tab 1 Content</h3>
        <p>This is the content for Home.</p>
    </div>
    <div class="tab content">
        <h3>Tab 2 Content</h3>
        <p>This is the content for Auto.</p>
    </div>
    <div class="tab content">
        <h3>Tab 3 Content</h3>
        <p>This is the content for Life.</p>
    </div>

    <script>
        //Switch between tabs
        function showTab(tabIndex) {
            var tabs = document.getElementsByClassName("tab");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("active-tab");
            }
            tabs[tabIndex - 1].classList.add("active-tab");
        }

        //Redirect to the /login route
        function redirectToLogin() {
            window.location.href = "/login"; 
        }
    </script>
</body>
</html>
